@import "frontend-default.scss";

#fragment_tail_content {
  @include defaultWidth;
  height: 200px;
  background-color: $defaultLightGrayRgb;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

