@import "frontend-default.scss";

@mixin index_center_panel_style {
  border-radius: 3px;
  background-color: white;
}

#fragment_index_center_content {
  @include defaultMiddle(70%);
  background-color: unquote($defaultLightGrayRgb);
  & > * {
    padding: 20px 20px;
  }
  #movie_type_div {
    margin-top: 20px;
    @include index_center_panel_style;
    .type_item {

      margin: 12px 0px;
      & > * {
        display: inline;
      }
      label {
        display: inline;
        //background-color: red;
        width: 20%;
      }
      ul {
        width: 80%;
        //background-color: aqua;
        display: inline;
        text-align: left;
        list-style-type: none;
        .currt {
          background-color: unquote($defaultBlueRgb);
          border-radius: 99px;
          & > a {
            color: unquote(white);
          }
        }
        li {
          margin: 0px 5px;
          padding: 2px 5px;
          cursor: pointer;
          display: inline;
          & > a {
            font-size: 12px;
          }
          &:hover {
            background-color: unquote($defaultBlueRgb);
            border-radius: 99px;
            & > a {
              color: unquote(white);
            }
          }
        }
      }
    }

  }

  #movie_list_div {
    margin-top: 20px;
    @include index_center_panel_style;
    #head {
      width: 100%;
      #sort_div {
        width: 80%;
        text-align: left;
        //background-color: red;
        #sort_ways {
          display: inline;
          list-style-type: none;
          li {
            margin: 0px 5px;
            padding: 2px 5px;
            display: inline;
            cursor: pointer;
            &:hover {
              background-color: unquote($defaultBlueRgb);
              border-radius: 99px;
              & > a {
                color: unquote(white);
              }
            }
          }

          .currt {
            background-color: unquote($defaultBlueRgb);
            border-radius: 99px;
            & > a {
              color: unquote(white);
            }
          }
        }
      }

      #total_div {
        width: 20%;
        text-align: right;
        float: right;
        //background-color: aqua;
      }
    }
    /*分割线*/
    #line {
      height: 1px;
      background-color: unquote($defaultLightGrayRgb);
      margin: 20px 0px;
    }
    $movie_img_width_height_ratio:1.5;
    #movies_display_div {
      @include defaultWidth;
      background-color: red;
      #movies_list_ul {
        @include defaultWidth;
        display: inline;
        list-style-type: none;
        @include defaultWidth;
        li.movie_item {
          width: 20%;
          display: block;
          #movie_img_div{
            a {
              display: block;
              @include defaultWidth;
              img {
                @include defaultWidth;

              }
            }
          }
          .movie_info_div{
            @include defaultWidth;
            height: auto;
            background-color: steelblue;
          }

        }
      }
    }

  }
}