@import "frontend-default.scss";

#fragment_index_center_content{
  @include defaultMiddle(70%);
  background-color: unquote($defaultLightGrayRgb);

  #movie_type_div{
    margin-top: 20px;
    background-color: white;
  }

  #movie_list_div{
    margin-top: 20px;
    background-color: white;
  }
}
