@charset "UTF-8";
/* 一般用于div居中
 * $marginPercent：距离左右的距离
 */
.clear {
  clear: both; }

#fragment_index_center_content {
  margin: 0px 15%;
  width: 70%;
  background-color: rgb(241,242,243); }
  #fragment_index_center_content > * {
    padding: 20px 20px; }
  #fragment_index_center_content #movie_type_div {
    margin-top: 20px;
    border-radius: 3px;
    background-color: white; }
    #fragment_index_center_content #movie_type_div .type_item {
      margin: 12px 0px; }
      #fragment_index_center_content #movie_type_div .type_item > * {
        display: inline; }
      #fragment_index_center_content #movie_type_div .type_item label {
        display: inline;
        width: 20%; }
      #fragment_index_center_content #movie_type_div .type_item ul {
        width: 80%;
        display: inline;
        text-align: left;
        list-style-type: none; }
        #fragment_index_center_content #movie_type_div .type_item ul .currt {
          background-color: rgb(61,158,255);
          border-radius: 99px; }
          #fragment_index_center_content #movie_type_div .type_item ul .currt > a {
            color: white; }
        #fragment_index_center_content #movie_type_div .type_item ul li {
          margin: 0px 5px;
          padding: 2px 5px;
          cursor: pointer;
          display: inline; }
          #fragment_index_center_content #movie_type_div .type_item ul li > a {
            font-size: 12px; }
          #fragment_index_center_content #movie_type_div .type_item ul li:hover {
            background-color: rgb(61,158,255);
            border-radius: 99px; }
            #fragment_index_center_content #movie_type_div .type_item ul li:hover > a {
              color: white; }
  #fragment_index_center_content #movie_list_div {
    margin-top: 20px;
    border-radius: 3px;
    background-color: white;
    /*分割线*/ }
    #fragment_index_center_content #movie_list_div #head {
      width: 100%; }
      #fragment_index_center_content #movie_list_div #head #sort_div {
        width: 80%;
        text-align: left; }
        #fragment_index_center_content #movie_list_div #head #sort_div #sort_ways {
          display: inline;
          list-style-type: none; }
          #fragment_index_center_content #movie_list_div #head #sort_div #sort_ways li {
            margin: 0px 5px;
            padding: 2px 5px;
            display: inline;
            cursor: pointer; }
            #fragment_index_center_content #movie_list_div #head #sort_div #sort_ways li:hover {
              background-color: rgb(61,158,255);
              border-radius: 99px; }
              #fragment_index_center_content #movie_list_div #head #sort_div #sort_ways li:hover > a {
                color: white; }
          #fragment_index_center_content #movie_list_div #head #sort_div #sort_ways .currt {
            background-color: rgb(61,158,255);
            border-radius: 99px; }
            #fragment_index_center_content #movie_list_div #head #sort_div #sort_ways .currt > a {
              color: white; }
      #fragment_index_center_content #movie_list_div #head #total_div {
        width: 20%;
        text-align: right;
        float: right; }
    #fragment_index_center_content #movie_list_div #line {
      height: 1px;
      background-color: rgb(241,242,243);
      margin: 20px 0px; }
    #fragment_index_center_content #movie_list_div #movies_display_div {
      width: 100%; }
      #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul {
        width: 100%;
        display: inline;
        list-style-type: none;
        width: 100%; }
        #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item {
          width: 17%;
          padding: 1.5%;
          display: inline-block;
          float: left; }
          #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item #movie_img_div a {
            display: block;
            width: 100%; }
            #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item #movie_img_div a img {
              width: 100%; }
          #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item .movie_info_div {
            width: 100%;
            height: auto; }
            #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item .movie_info_div div {
              width: 100%; }
              #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item .movie_info_div div .movie_name_a {
                font-size: 15px; }
              #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item .movie_info_div div .movie_play_num_a {
                font-size: 15px; }

/*# sourceMappingURL=fragment_index_center.css.map */
