@import "frontend-default.scss";

*{
  @include defaultPaddingAndMargin;
  @include defaultWidth;
  text-decoration: none;
  outline: none;
  color: unquote($defaultLightGrayColorRgb);
}
body,html{
  @include defaultBody;
}