@charset "UTF-8";
/* 一般用于div居中
 * $marginPercent：距离左右的距离
 */
/*水平ul*/
.clear {
  clear: both; }

/* 一般用于div居中
 * $marginPercent：距离左右的距离
 */
/*水平ul*/
.clear {
  clear: both; }

* {
  padding: 0px 0px;
  margin: 0px 0px;
  width: 100%;
  text-decoration: none;
  outline: none;
  color: rgb(153,153,153);
  font-size: 12px; }

body, html {
  width: 100%;
  height: 100%;
  padding: 0px 0px;
  margin: 0px 0px;
  background-color: rgb(241,242,243); }

/*head,center,tail =>width*/
body > div {
  width: 100%; }

/* 一般用于div居中
 * $marginPercent：距离左右的距离
 */
/*水平ul*/
.clear {
  clear: both; }

/*var start*/
/*var end*/
/*mixin start*/
/*mixin end*/
#fragment_head_content {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: white; }

/*nav*/
#fragment_head_nav {
  text-align: center;
  list-style-type: none;
  height: 80px;
  line-height: 80px;
  padding: 0px 0px;
  margin: 0px 8%;
  width: 74%;
  background-color: white;
  /*user*/
  /*search*/ }
  #fragment_head_nav li {
    width: 33.3333333333%;
    float: left;
    display: block;
    height: 80px;
    line-height: 80px; }
  #fragment_head_nav #fragment_head_nav_logo #logo_v {
    color: red;
    font-weight: bold;
    font-size: 30px; }
  #fragment_head_nav #fragment_head_nav_logo #logo_m {
    color: rgb(61,158,255);
    font-weight: bold;
    font-size: 30px; }
  #fragment_head_nav #user_li {
    /*user_logout*/ }
    #fragment_head_nav #user_li > div {
      float: left; }
    #fragment_head_nav #user_li #user_div {
      width: 80%;
      height: 80px; }
      #fragment_head_nav #user_li #user_div #link_a {
        display: block;
        height: 80px;
        /*user_name*/
        /*user_headimg*/ }
        #fragment_head_nav #user_li #user_div #link_a > div {
          float: right; }
        #fragment_head_nav #user_li #user_div #link_a #name_div {
          width: auto; }
        #fragment_head_nav #user_li #user_div #link_a #heaImg_div {
          width: 80px;
          height: 80px; }
          #fragment_head_nav #user_li #user_div #link_a #heaImg_div img {
            border-radius: 100px;
            width: 48px;
            height: 48px;
            margin: 16px 0px; }
    #fragment_head_nav #user_li #logout_div {
      height: 80px;
      width: 20%; }
  #fragment_head_nav #fragment_head_nav_search {
    /*text*/
    /*btn*/ }
    #fragment_head_nav #fragment_head_nav_search #fragment_head_nav_search_text {
      height: 40px;
      border: 1px solid rgb(61,158,255);
      background-color: white;
      border-radius: 0;
      /*省略所有浏览器前缀*/
      box-sizing: border-box;
      width: 50%;
      background-image: url("/image/frontend/icon_zoom.png");
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: 5px;
      padding-left: 40px;
      margin-right: 0px; }
    #fragment_head_nav #fragment_head_nav_search #fragment_head_nav_search_btn {
      height: 40px;
      border: 1px solid rgb(61,158,255);
      background-color: white;
      border-radius: 0;
      /*省略所有浏览器前缀*/
      box-sizing: border-box;
      width: 20%;
      cursor: pointer;
      margin-left: 0px; }
      #fragment_head_nav #fragment_head_nav_search #fragment_head_nav_search_btn:hover {
        border: 2px solid rgb(61,158,255); }
      #fragment_head_nav #fragment_head_nav_search #fragment_head_nav_search_btn:hover {
        background-color: rgb(61,158,255);
        color: white; }

/* 一般用于div居中
 * $marginPercent：距离左右的距离
 */
/*水平ul*/
.clear {
  clear: both; }

#fragment_index_center_content {
  margin: 0px 15%;
  width: 70%;
  background-color: rgb(241,242,243); }
  #fragment_index_center_content > * {
    padding: 20px 20px; }
  #fragment_index_center_content #movie_type_div {
    margin-top: 20px;
    border-radius: 3px;
    background-color: white; }
    #fragment_index_center_content #movie_type_div .type_item {
      margin: 12px 0px; }
      #fragment_index_center_content #movie_type_div .type_item > * {
        display: inline; }
      #fragment_index_center_content #movie_type_div .type_item label {
        display: inline;
        width: 20%; }
      #fragment_index_center_content #movie_type_div .type_item ul {
        width: 80%;
        display: inline;
        text-align: left;
        list-style-type: none; }
        #fragment_index_center_content #movie_type_div .type_item ul .currt {
          background-color: rgb(61,158,255);
          border-radius: 99px; }
          #fragment_index_center_content #movie_type_div .type_item ul .currt > a {
            color: white; }
        #fragment_index_center_content #movie_type_div .type_item ul li {
          margin: 0px 5px;
          padding: 2px 5px;
          cursor: pointer;
          display: inline; }
          #fragment_index_center_content #movie_type_div .type_item ul li > a {
            font-size: 12px; }
          #fragment_index_center_content #movie_type_div .type_item ul li:hover {
            background-color: rgb(61,158,255);
            border-radius: 99px; }
            #fragment_index_center_content #movie_type_div .type_item ul li:hover > a {
              color: white; }
  #fragment_index_center_content #movie_list_div {
    margin-top: 20px;
    border-radius: 3px;
    background-color: white;
    /*分割线*/ }
    #fragment_index_center_content #movie_list_div #head {
      width: 100%; }
      #fragment_index_center_content #movie_list_div #head #sort_div {
        width: 80%;
        text-align: left; }
        #fragment_index_center_content #movie_list_div #head #sort_div #sort_ways {
          display: inline;
          list-style-type: none; }
          #fragment_index_center_content #movie_list_div #head #sort_div #sort_ways li {
            margin: 0px 5px;
            padding: 2px 5px;
            display: inline;
            cursor: pointer; }
            #fragment_index_center_content #movie_list_div #head #sort_div #sort_ways li:hover {
              background-color: rgb(61,158,255);
              border-radius: 99px; }
              #fragment_index_center_content #movie_list_div #head #sort_div #sort_ways li:hover > a {
                color: white; }
          #fragment_index_center_content #movie_list_div #head #sort_div #sort_ways .currt {
            background-color: rgb(61,158,255);
            border-radius: 99px; }
            #fragment_index_center_content #movie_list_div #head #sort_div #sort_ways .currt > a {
              color: white; }
      #fragment_index_center_content #movie_list_div #head #total_div {
        width: 20%;
        text-align: right;
        float: right; }
    #fragment_index_center_content #movie_list_div #line {
      height: 1px;
      background-color: rgb(241,242,243);
      margin: 20px 0px; }
    #fragment_index_center_content #movie_list_div #movies_display_div {
      width: 100%; }
      #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul {
        width: 100%;
        display: inline;
        list-style-type: none;
        width: 100%; }
        #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item {
          width: 17%;
          padding: 1.5%;
          display: inline-block;
          float: left; }
          #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item #movie_img_div a {
            display: block;
            width: 100%; }
            #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item #movie_img_div a img {
              width: 100%; }
          #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item .movie_info_div {
            width: 100%;
            height: auto; }
            #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item .movie_info_div div {
              width: 100%;
              display: block;
              margin: 2px 0px; }
              #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item .movie_info_div div .movie_name_a {
                font-size: 15px; }
              #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item .movie_info_div div .movie_play_num_a {
                font-size: 15px; }
            #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item .movie_info_div div.movie_actor_list_div ul {
              list-style: none;
              display: inline; }
              #fragment_index_center_content #movie_list_div #movies_display_div #movies_list_ul li.movie_item .movie_info_div div.movie_actor_list_div ul li {
                width: auto;
                display: inline-block; }
      #fragment_index_center_content #movie_list_div #movies_display_div #movie_list_pager_div {
        width: 100%;
        text-align: center; }
        #fragment_index_center_content #movie_list_div #movies_display_div #movie_list_pager_div ul {
          list-style: none;
          display: inline; }
          #fragment_index_center_content #movie_list_div #movies_display_div #movie_list_pager_div ul li {
            width: auto;
            display: inline-block; }
        #fragment_index_center_content #movie_list_div #movies_display_div #movie_list_pager_div ul li.pager_li {
          border: 1px solid rgb(241,242,243);
          height: auto;
          cursor: pointer;
          text-align: left; }
          #fragment_index_center_content #movie_list_div #movies_display_div #movie_list_pager_div ul li.pager_li a {
            padding: 8px 15px;
            display: block;
            width: 100%;
            height: 100%; }
          #fragment_index_center_content #movie_list_div #movies_display_div #movie_list_pager_div ul li.pager_li:hover {
            background-color: rgb(61,158,255); }
            #fragment_index_center_content #movie_list_div #movies_display_div #movie_list_pager_div ul li.pager_li:hover a {
              color: white; }
        #fragment_index_center_content #movie_list_div #movies_display_div #movie_list_pager_div ul li.currt {
          background-color: rgb(61,158,255); }
          #fragment_index_center_content #movie_list_div #movies_display_div #movie_list_pager_div ul li.currt a {
            color: white; }

/* 一般用于div居中
 * $marginPercent：距离左右的距离
 */
/*水平ul*/
.clear {
  clear: both; }

#fragment_tail_content {
  height: 200px;
  margin: 0px 15%;
  width: 70%;
  background-color: rgb(241,242,243);
  margin-top: 30px; }

/*# sourceMappingURL=index.css.map */
