@import "global";

#date_content{
  @include defaultWidth;
  span{

    margin-right: 10px;
    select {
      height: 20px;
      line-height: 20px;
      border: 1px solid unquote($defaultBlueRgb);
      width: 50px;
    }
  }

}