@import "global";

#actors_details_area {
  @include defaultWidth;
  @include defaultHUl;
  & > ul {

    & > li {
      width: 25%;
      & > a {
        display: block;
        & > img {
          width:80%;
          margin-left: 10%;
        }
        & > div {
          @include defaultSetPadding(2px,0px);
          width:80%;
          margin-left: 10%;
          //background-color: unquote($defaultLightGrayRgb);
          color: unquote($defaultLightGrayColorRgb);
          text-align: left;


          //多余省略
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

}