@import "global";

#movie_info_content {
  @include defaultMiddle(70%);
  background-color: unquote($defaultLightGrayRgb);
  //overflow: hidden;
  #basic_info {
    @include defaultPanel;
    margin-top: 20px;
    @include defaultWidth;
    //background-color: red;
    & > #movie_info_displayer {
      flex:1;
      display: flex;
      @include defaultWidth;
      @include defaultSetPaddingAround(10px);
      & > div {
        float: left;
      }
      $imgWidth: 150px;
      #filmmaker_img {
        width: $imgWidth;
        //background-color: steelblue;
        & > img {
          width: $imgWidth;
          height: $imgWidth;
          //cursor: pointer;
        }
      }
      #filmmaker_text {
        overflow: hidden;
        text-overflow: ellipsis;
        @include defaultSetPaddingLeft(20px);
        //flex: 1;
        height: 100%;
        //background-color: black;
        @include defaultHUl;
        #text_ul {
          & > li {

            @include defaultSetPadding(0px,5px);
            margin-bottom: 10px;
            width: 25%;
          }

          #name_li {
            width:100%;
            &, & > a {
              color: unquote($defaultBlueRgb);
              font-size: 24px;
            }
          }
          #description_li {
            width: 100%;
            //margin-top: 20px;
          }

        }
      }
    }

  }

  #about_filmmakers_movies{
    @include defaultWidth;
    @include defaultPanel;
    margin-top: 20px;
  }


}
