@import "global";

#img_uploader {
  display: flex;
  & > div {
    float: left;

  }
  $imgWidthAndHeight: 300px;
  #img_upload {
    width: 400px;
    @include defaultSetPaddingLeft(50px);
    #img_upload_to_middle_div {
      margin: 0px auto;
      width: $imgWidthAndHeight;
      & > * {
        display: block;
      }
      #imgPreviewWrapper {
        width: $imgWidthAndHeight;
        height: $imgWidthAndHeight;
        #imgPreview {
          width: $imgWidthAndHeight;
          height: $imgWidthAndHeight;
        }
      }

      #btns_div {
        margin-top: 15px;
        @include defaultWidth;

        & > .operateBtn {
          background-color: white;
          color: $defaultBlueRgb;
          border: 1px solid unquote($defaultBlueRgb);
          width: 100px;
          height: 30px;
          cursor: pointer;
          transition: all 500ms;
          &:hover {
            background-color: unquote($defaultBlueRgb);
            border-radius: 99px;
            color: unquote(white);
          }
        }
        #uploadTempImgBtn {
          float: left;
        }
        #imgInput {
          display: none;
        }
        #imgSaveBtn {

          float: right;
        }
      }

    }

  }
  #head_preview {
    flex: 1;
    & > * {
      margin-left: 20px;
    }
    #imgPreview0 {
      width: 80px;
      height: 80px;

    }

    #imgPreview1 {
      width: 50px;
      height: 50px;

    }

    #imgPreview2 {
      width: 30px;
      height: 30px;

    }
  }
}
