@import "global";

#loading_content {
  /*默认隐藏*/
  display: none;
  @include defaultSize;
  line-height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  //overflow: hidden;
  #dialog {
    height: 100px;
    width: 300px;
    display: inline-block !important;
    display: inline;
    @include defaultSetPadding(10px, 20px);
    background-color: rgba(56, 61, 73,0);
    border-radius: 2px;
    * {
      color: white;
    }
    img{
      width: 20px;
      height: 20px;
    }
    div{
      height: 40px;
      line-height: 40px;
      width: 100%;
    }

  }
}


