@import "global";

#movie_info_content {
  @include defaultMiddle(70%);
  background-color: unquote($defaultLightGrayRgb);
  //overflow: hidden;
  #basic_info {
    @include defaultPanel;
    margin-top: 20px;
    @include defaultWidth;
    //background-color: red;
    & > #movie_info_displayer {
      flex:1;
      display: flex;
      @include defaultWidth;
      & > div {
        float: left;
      }
      $imgWidth: 200px;
      #movie_img {
        width: $imgWidth;
        //background-color: steelblue;
        & > img {
          width: $imgWidth;
          height: $imgWidth*1.5;
          //cursor: pointer;
        }
      }
      #movie_text {
        overflow: hidden;
        text-overflow: ellipsis;
        @include defaultSetPaddingLeft(20px);
        //flex: 1;
        height: 100%;
        //background-color: black;
        @include defaultHUl;
        #text_ul {
          & > li {
            margin-bottom: 10px;
            width: 25%;

            @include defaultSetPadding(0px,5px);
          }
          #name_li {
            width: 100%;
            &, & > a {
              color: unquote($defaultBlueRgb);
              font-size: 24px;
            }
          }
          #description_li {
            width: 100%;
            margin-top: 20px;
          }
          #tags_li {
            width: 100%;
            margin-top: 20px;

          }

        }
      }
    }

  }
  #movie_player {
    @include defaultWidth;
    margin-top: 20px;
    background-color: unquote($defaultLightGrayRgb);
    display: flex;
    & > div {
      float: left;
    }
    #m_wrapper {
      @include defaultPanel;
      flex: 11;
    }

    #split {
      width: 20px;
      height: 3px;

      //background-color: unquote($defaultLightGrayRgb);
      background-color: red;
      visibility: hidden;
    }
    #actors_details_div_wrapper {
      @include defaultPanel;
      flex: 5;
      //background-color: red;
      #actors_details_div {

      }
    }

  }
  #about_filmmakers_movies{
    @include defaultWidth;
    @include defaultPanel;
    margin-top: 20px;
  }
  #about_tags_movies{
    @include defaultWidth;
    @include defaultPanel;
    margin-top: 20px;
  }

}
