@import "global";

#movies_list_ul {
  @include defaultWidth;
  display: inline;
  list-style-type: none;
  @include defaultWidth;
  li.movie_item {
    margin:0px;
    @include defaultSetPaddingAround(10px);
    width: 20%;
    border: none;
    outline: none;
    display: inline-block;
    float: left;
    .movie_img_div {
      a {
        display: block;
        @include defaultWidth;
        img {
          @include defaultWidth;

        }
      }
    }
    .movie_info_div {

      @include defaultWidth;
      height: auto;
      div {
        @include defaultWidth;
        display: block;
        margin: 2px 0px;

        .movie_name_a {


        }
      }
      div.movie_actor_list_div {
        ////超过部分省略号代替
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;

      }

    }

  }
}