@import "global";


.clickSearchBtn{
  background-color: $defaultBlueRgb;
  color: white;
}


#fragment_index_center_content {
  @include defaultMiddle(70%);
  background-color: unquote($defaultLightGrayRgb);
  & > * {
    @include defaultSetPadding(20px,20px);
  }
  #movie_type_div {
    margin-top: 20px;
    @include defaultPanel;
    /*#tagTip{
      width:100%;
      text-align: center;
      height: 15px;
    }*/
    .type_item {

      margin: 12px 0px;
      & > * {
        display: inline;
      }
      label {
        display: inline;
        //background-color: red;
        width: 20%;
      }
      ul {
        width: 80%;
        //background-color: aqua;
        display: inline;
        text-align: left;
        list-style-type: none;
        .currt {
          background-color: unquote($defaultBlueRgb);
          border-radius: 99px;
          & > a {
            color: unquote(white);
          }
        }
        li {
          text-align: center;
          margin: 0px 5px;

          @include defaultSetPadding(2px,5px);
          cursor: pointer;
          display: inline;
          &{
            background-color: unquote(white);
            border-radius: 99px;
            border: 1px solid unquote($defaultBlueRgb);
            & > a{
              color: unquote($defaultBlueRgb);
            }

          }
          &:hover {
            background-color: unquote($defaultBlueRgb);
            border-radius: 99px;
            & > a {
              background-color: unquote($defaultBlueRgb);
              color: unquote(white);
            }
          }
        }
      }
    }

  }

  #movie_list_div {
    margin-top: 20px;
    @include defaultPanel;
    #head {
      $head_height:30px;
      @include defaultWidth;
      height:$head_height;
      &>div{
        display: block;
        float: left;
        height: $head_height;
        line-height: $head_height;
      }
      #sort_div {
        width: 50%;
        text-align: left;
        //background-color: red;
        #sort_ways {
          display: inline;
          list-style-type: none;
          li {
            margin: 0px 5px;
            @include defaultSetPadding(2px,5px);
            display: inline;
            cursor: pointer;

            transition: all 500ms;
            &:hover {
              background-color: unquote($defaultBlueRgb);
              border-radius: 99px;
              & > a {
                color: unquote(white);
              }
            }
          }

          .currt {
            background-color: unquote($defaultBlueRgb);
            border-radius: 99px;
            & > a {
              color: unquote(white);
            }
          }
        }
      }
      $search_height: $head_height;
      @mixin searcher {
        //height: $nav_height - $nav_height*0.4;
        height: 100%;
        line-height:100%;
        background-color: white;
        @include defaultSameHightOfInputAndBtn;
      }

      #search_div {
        width: 40%;
        text-align: right;

        #fragment_head_nav_search_text {
          width:50%;
          @include searcher;
          background-image: url("/image/icon_zoom.png");
          background-size: $search_height/1.5 $search_height/1.5;
          background-repeat: no-repeat;
          background-position: 5px;

          @include defaultSetPaddingLeft($search_height);
          margin-right: 0px;

          border:1px solid unquote($defaultBlueRgb);
          border-right: 0px;

        }
        /*btn*/
        #fragment_head_nav_search_btn {
          width:20%;
          @include searcher;
          cursor: pointer;


          border:1px solid unquote($defaultBlueRgb);

          //margin-left: 0px;

          transition: all 500ms;
          &:hover {
            background-color: unquote($defaultBlueRgb);
            color: white;
          }
        }
      }
      #total_div {
        width: 10%;
        text-align: right;
        //background-color: aqua;
      }
    }
    /*分割线*/
    #line {
      height: 1px;
      background-color: unquote($defaultLightGrayRgb);
      margin: 20px 0px;
    }
    #movies_display_div {
      @include defaultWidth;
      //background-color: red;


    }

  }
}