@import "global";

#fragment_msg_dialog_content {
  /*默认隐藏*/
  display: none;
  @include defaultSize;
  line-height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  //overflow: hidden;
  #dialog {
    //margin-top: 300px;
    //width: 300px;
    //height: 100px;
    width: auto;
    display: inline-block !important;
    display: inline;
    @include defaultSetPaddingAround(20px);
    background-color: rgb(56, 61, 73);
    border-radius: 2px;
    * {
      color: white;
    }

    #body {
      text-align: center;
      line-height: 100%;
      height: 100%;
      #close_btn {
        &:hover{
          color: unquote($defaultLightGrayColorRgb);
        }
      }
      #split{
        margin:0px 10px;
      }
    }

  }
}

