@import "global";
#movie_list_pager_div {
  margin: 80px 0px;
  //background-color: red;
  @include defaultWidth;
  @include defaultHUl;
  text-align: center; //!!!
  ul {
    li {
      overflow: hidden;
      margin: 0px 5px;
    }
    li.pager_li {
      border: 1px solid unquote($defaultLightGrayRgb);
      height: auto;
      //background-color: red;
      cursor: pointer;
      text-align: left; //!!!
      a {
        //background-color: red;
        @include defaultSetPadding(8px,15px);
        display: block;
        @include defaultSize;
      }
      transition: all 500ms;
      &:hover {
        background-color: unquote($defaultBlueRgb);
        a {
          color: white;
        }
      }
    }
    li.currt {
      background-color: unquote($defaultBlueRgb);
      a {
        color: white;
      }
    }
  }
}