@import "global";

#regist_dialog_content {
  /*默认隐藏*/
  display: none;
  @include defaultSize;
  line-height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  //overflow: hidden;
  #dialog {
    //margin-top: 300px;
    //width: 300px;
    //height: 100px;
    width: 300px;
    display: inline-block !important;
    display: inline;
    @include defaultSetPadding(10px, 20px);
    background-color: rgb(56, 61, 73);
    border-radius: 2px;
    * {
      color: white;
    }
    & > div {
      @include defaultWidth;
    }

    #head {
      border-bottom: 1px solid $defaultLightGrayColorRgb;
      & > div {
        @include defaultSetPadding(15px, 5px);
        width: 50%;
        float: left;
      }
      #title_div {
        text-align: left;
      }
      #close_div {
        text-align: right;
        a {
          cursor: pointer;
          &:hover {
            color: unquote($defaultLightGrayColorRgb);
          }
        }

      }

    }
    #body {
      @include defaultWidth;
      #regist_form {
        @include defaultWidth;

        $input_height: 30px;
        & > div {
          @include defaultWidth;
          margin-bottom: 20px;

        }
        #username_input {
          height: $input_height;
          @include defaultWidth;
          border: 1px solid unquote($defaultLightGrayColorRgb);
          color: black;
          background-image: url("/image/username.png");
          background-size: $input_height/1.5 $input_height/1.5;
          background-repeat: no-repeat;
          background-position: 5px;
          border: 1px solid unquote($defaultLightGrayColorRgb);
          @include defaultSetPaddingLeft($input_height);
        }
        #password_input {
          height: $input_height;
          @include defaultWidth;
          border: 1px solid unquote($defaultLightGrayColorRgb);
          color: black;
          background-image: url("/image/password.png");
          background-size: $input_height/1.5 $input_height/1.5;
          background-repeat: no-repeat;
          background-position: 5px;
          @include defaultSetPaddingLeft($input_height);
        }
        #regist_btn_input {
          cursor: pointer;
          height: $input_height;
          @include defaultMiddle(50%);
          border: 1px solid unquote($defaultBlueRgb);
          background-color: unquote($defaultBlueRgb);
          color: white;
          transition: all 500ms;
          &:hover {
            background-color: white;
            color: black;
            border: 1px solid white;
            border-radius: 3px;
          }
        }
      }
    }

  }
}


