@import "global";

#tags_of_movie {
  @include defaultWidth;
  div#ul_div {

    @include defaultWidth;
    //@include defaultHUl;
    &>ul {
      //background-color: red;
      li {
        text-align: center;
        margin: 0px 5px;
        padding: 2px 5px;
        cursor: pointer;
        display: inline;
        & {
          background-color: unquote(white);
          border-radius: 99px;
          border: 1px solid unquote($defaultBlueRgb);
          & > a {
            color: unquote($defaultBlueRgb);
          }

        }
        &:hover {
          background-color: unquote($defaultBlueRgb);
          border-radius: 99px;
          & > a {
            background-color: unquote($defaultBlueRgb);
            color: unquote(white);
          }
        }

      }
    }
  }

}
