@import "frontend-default.scss";

#user_info {
  @include defaultMiddle(70%);
  margin-top: 20px;
  #content {
    @include defaultWidth;
    & > div {
      float: left;
    }
    #nav {
      width: 30%;
      background-color: red;
      #nav_ul{
        list-style: none;
        li{
          display: block;
          width: 100%;
          NavLink{
            display: block;
            width: 100%;
          }
          .active{
            background-color: unquote($defaultBlueRgb);
          }
        }
      }
    }
    #displayer {
      width: 70%;
      background-color: black;
    }
  }
}
