@import "frontend-default.scss";

#user_head_content {
  div {
    float: left;
    width: 50%;
  }
  #head_upload {

    #headImgPreview {
      width: 200px;
      height: 200px;
    }

  }
  #head_preview {
    #headImgPreview0 {
      width: 80px;
      height: 80px;

    }

    #headImgPreview1 {
      width: 50px;
      height: 50px;

    }

    #headImgPreview2 {
      width: 30px;
      height: 30px;

    }
  }

}


