@import "global";

#user_basic_info_content {
  width: 100%;
  & > div {
    float: left;
  }
  #basic_info {
    width: 70%;
    @include defaultSetPaddingAround(20px);
    #displayer {
      @include defaultWidth;

      $input_height: 20px;
      .info_item {
        margin-bottom: 20px;
        display: flex;
        @include defaultWidth;
        & > * {
          float: left;
          display: block;
        }
        label {
          width: 50px;
          text-align: right;
          font-size: 14px;
          height: $input_height;
          line-height: $input_height;
        }
        span.split {
          width: 10px;
        }
        span.content {
          flex: 1;

        }

      }
      #username_div {
        input {
          height: $input_height;
          line-height: $input_height;
          border: 1px solid unquote($defaultBlueRgb);
          width: 150px;
        }
      }
      #sex_div {
        select {
          height: $input_height;
          line-height: $input_height;
          border: 1px solid unquote($defaultBlueRgb);
          width: 50px;
        }
      }
      #birthday_div {
        /*input {
          height: $input_height;
          line-height: $input_height;
          border: 1px solid unquote($defaultBlueRgb);
          width: 150px;
        }*/
      }
      #description_div {
        textarea {
          height: $input_height;
          line-height: $input_height;
          border: 1px solid unquote($defaultBlueRgb);
          width: 70%;
          height: 150px;
          resize: none;
        }
      }
      #confirm_div{
        @include defaultWidth;
        text-align: center;
        input{
          cursor: pointer;
          color: white;
          border: 1px solid unquote($defaultBlueRgb);
          height:30px;
          width:60px;
          background-color: unquote($defaultBlueRgb);
        }
      }

    }
  }
  #tip {
    @include defaultSetPaddingTop(30px);
    width: 30%;
  }
}



