@import "frontend-default.scss";

#user_head_content {
  display: flex;
  div {
    float: left;
  }
  $imgWidthAndHeight: 300px;
  #head_upload {
    width: 400px;
    @include defaultSetPaddingLeft(50px);
    #head_upload_to_middle_div {
      margin: 0px auto;
      width: $imgWidthAndHeight;
      & > * {
        display: block;
      }
      #headImgPreview {
        width: $imgWidthAndHeight;
        height: $imgWidthAndHeight;
      }

      #headImgInput {
        width: 100px;
      }
      #headImgSaveBtn_to_middle_div {
        @include defaultWidth;
        text-align: center;
        #headImgSaveBtn {
          margin-top: 30px;
          background-color: white;
          color: $defaultBlueRgb;
          border: 1px solid unquote($defaultBlueRgb);
          width: 100px;
          height: 30px;
          cursor: pointer;
          transition: all 500ms;
          &:hover {
            background-color: unquote($defaultBlueRgb);
            border-radius: 99px;
            color: unquote(white);
          }
        }
      }

    }

  }
  #head_preview {
    flex: 1;
    & > * {
      margin-left: 10px;
    }
    #headImgPreview0 {
      width: 80px;
      height: 80px;

    }

    #headImgPreview1 {
      width: 50px;
      height: 50px;

    }

    #headImgPreview2 {
      width: 30px;
      height: 30px;

    }
  }
  #tip {
    @include defaultSetPaddingTop(30px);
    flex: 1;
  }

}


