<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body id="fragment_index_center_body">
  <div id="fragment_index_center_content">
    <div id="fragment_index_center_content_type">
      fragment_index_center_content_type

    </div>

    <div id="fragment_index_center_content_movie_list">
      fragment_index_center_content_movie_list
    </div>

  </div>
</body>
</html>