<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body id="fragment_index_center_body">
<div id="fragment_index_center_content">
    <div id="movie_type_div">
        <div class="type_item">
            <label>
                类型:
            </label>
            <ul>
                <li class="currt">
                    <a href="#">
                        全部
                    </a>
                </li>

                <li>
                    <a href="#">
                        悬疑
                    </a>
                </li>
                <li>
                    <a href="#">
                        喜剧
                    </a>
                </li>

            </ul>
        </div>
        <div class="type_item">
            <label>
                地区:
            </label>
            <ul>
                <li class="currt">
                    <a href="#">
                        全部
                    </a>
                </li>

                <li>
                    <a href="#">
                        中国台湾
                    </a>
                </li>
                <li>
                    <a href="#">
                        大陆
                    </a>
                </li>

            </ul>
        </div>

    </div>
    <div id="movie_list_div">
        <div id="head">
            <span id="sort_div">
                <ul id="sort_ways">
                    <label>排序：</label>
                    <li class="currt">
                        <a href="#">最多播放</a>
                    </li>
                    <li>
                        <a href="#">最高评分</a>
                    </li>
                    <li>
                        <a href="#">最高评分</a>
                    </li>
                    <li>
                        <a href="#">最高评分</a>
                    </li>
                    <li>
                        <a href="#">最高评分</a>
                    </li>
                </ul>
            </span>
            <span id="total_div">
                共
                <span id="totalNum">
                    1200
                </span>
                个结果
            </span>
        </div>
        <div id="line"></div>
        <div id="movies_display_div">
            <ul id="movies_list_ul">
                <li class="movie_item">
                    <div class="movie_img_div">
                        <a href="">
                            <img src="/image/frontend/movie_temple.png"/>
                        </a>
                    </div>
                    <div class="movie_info_div">
                        asd
                    </div>

                </li>
            </ul>

        </div>
    </div>

</div>
</body>
</html>