<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body id="fragment_index_center_body">

<!--react挂载节点-->
<div id="react_dom_index_center">

</div>


<script type="text/babel">


    var Pager = React.createClass({

        render: function () {
            return (

                    <div id="movie_list_pager_div">
                        <ul id="movie_list_pager_ul">
                            <li className="pager_li">
                                <a href="javascript:void(0);" onClick={this.props.prePage}>上一页</a>
                            </li>
                            <li className="pager_li currt">
                                <a href="javascript:void(0);">{this.props.page}</a>
                            </li>
                            <li className="pager_li">
                                <a href="javascript:void(0);" onClick={this.props.nextPage}>下一页</a>
                            </li>
                        </ul>
                    </div>
            );
        }
    });

    /*电影展示-演员展示*/
    var ActorsList = React.createClass({
        render: function () {

            return (
                    <ul >
                        <li>主演：</li>
                        {
                            this.props.actors.map((item,index)=>{
                                return <li key={item.id}><a href="">{item.name}</a>&nbsp;</li>;
                            })
                        }

                    </ul>
            );
        }
    });
    /*电影展示*/
    var MoviesDisplayer = React.createClass({

        render: function () {
            var movieItems = this.props.movies.map(function (item) {

                return <li className="movie_item" key={item.id}>
                    <div className="movie_img_div">
                        <a href="">
                            <img src={item.imgUrl}/>
                        </a>
                    </div>
                    <div className="movie_info_div">
                        <div>
                            <a className="movie_name_a" href="">{item.name}</a>

                        </div>
                        <div className="movie_actor_list_div">

                            <ActorsList actors={item.actors}/>
                        </div>


                        <div>
                            导演：<a  href="">{item.director.name}</a>
                        </div>
                        <div>
                            评分：{item.score}
                        </div>

                        <div>
                            播放：{item.watchNum}次
                        </div>
                    </div>

                </li>;
            });
            return <ul id="movies_list_ul">
                {movieItems}
                <li className="clear"></li>
            </ul>;
        }
    });
    /*一组电影tag*/
    var MovieTagGroup = React.createClass({
        render: function () {
//            console.info(this.props.movieTagGroupId);
            return (
                    <div id={this.props.movieTagGroupId} className="type_item">
                        <label>
                            {this.props.movieTagGroupName}:
                        </label>
                        <ul>
                            <li className="currt">
                                <a href="javascript:void(0);">
                                    全部
                                </a>
                            </li>
                            {
                                this.props.movieTags.map(function (item) {
                                    return (
                                            <li>
                                                <a key={item.id} id={item.id} href="#">
                                                    {item.name}
                                                </a>
                                            </li>
                                    );
                                })
                            }


                        </ul>
                    </div>);
        }
    });
    /*电影标签列表*/
    var MovieTagGroupList = React.createClass({

        render: function () {
            return (
                    <div>
                        {
                            this.props.movieTagGroup.map(function (item) {

                                return (
                                        <MovieTagGroup key={item.id} movieTagGroupId={item.id}
                                                       movieTagGroupName={item.name}
                                                       movieTags={item.items}/>
                                );
                            })
                        }
                    </div>
            );
        }
    });
    var IndexCenter = React.createClass({


        componentDidMount: function () {
            this.getMovie(this.adjustMovieListUI);
            this.getTagGroup();
            window.addEventListener('resize', this.onWindowResize)
        },
        componentWillUnmount:function() {
            window.removeEventListener('resize', this.onWindowResize)
        },
        onWindowResize:function () {
            this.adjustMovieListUI();
        },
        adjustMovieListUI:function (){
            {/*设置电影列表样式*/}
            var width = $($(".movie_img_div a img")[0]).css("width");

            var height = parseInt(width)*1.5;
            height = height.toString()+"px";
            $(".movie_img_div a img").css("height",height)
        },
        getMovie(){
            {/*获取电影列表*/}
            var movies = this.state.movies;
            var page = movies.page;
            var size = movies.size;
            var orderBy = movies.orderBy;
            var orderType = movies.orderType;
            var selectedTagIds = movies.selectedTagIds;
            var selectedGroupIds = movies.selectedGroupIds;
            var start = (page-1)*size;
            var param = {
                page: 1,
                size: size,
                orderBy: orderBy,
                orderType: orderType,
                selectedTagIds: selectedTagIds,
                selectedGroupIds: selectedGroupIds,
                start: start
            };

//            var url = this.props.movieSource + "?start="+start+"&size="+size+"&orderBy="+orderBy+"&orderType="+orderType;
            this.serverRequest = $.get(this.props.movieSource ,param, function (result) {
                var state = this.state;
                state.movies.list = result.data.list;
                state.movies.total = result.data.total;
                this.setState(state);
                //调整ui
                this.adjustMovieListUI();
            }.bind(this));
        },
        getTagGroup(){
            {/*获取电影标签分组*/}
            this.serverRequest = $.get(this.props.tagGroupSource, function (result) {
                var state = this.state;
                state.movieTagGroup = result.data.list;
                this.setState(state);
            }.bind(this));
        },
        getInitialState: function () {
//            var movieTagGroup = [{
//                id: 1,
//                name: '地区',
//                items: [{id: 1, name: '大四川'}]
//            }, {
//                id: 2122,
//                name: '类型',
//                items: [{id: 1, name: '小惊悚'}]
//            }];
//
//            var movies = [];
//            for (var i = 0; i < 11; i++) {
//                movies.push({
//                    id: i,
//                    movieName: '海绵宝宝',
//                    actors: [{id: '1', name: '刘德华1'}, {id: '2', name: '刘德华2'}],
//                    playNum: 666
//                });
//            }


            var orderByOptions = [{id:"score",name:"最高评分"},{id:"watch_num",name:"最多播放"},{id:"release_time",name:"最新上映"}];
            var state = {movieTagGroup: [], movies: {selectedGroupIds:[],selectedTagIds:[],total: 0, list: [], page: 1, size: 10,orderBy:"score",orderType:"desc"},orderByOptions:orderByOptions};

            return state;

        },
        prePage: function (event) {
            this.handlePageChange(-1);

        },
        nextPage: function (event) {
            this.handlePageChange(1);


        },
        handlePageChange(movePage){
            var newPage = this.state.movies.page + movePage;
//            c(this.state.movies.total-(this.state.movies.size*(newPage-1))<=0);
            if (newPage <= 0 || this.state.movies.total-(this.state.movies.size*(newPage-1))<=0) {
                return;
            }
            //更新page
            var state = this.state;
            state.movies.page = newPage;
            this.setState(state);
            this.getMovie();
        },
        sortMovie(orderBy){
            //更新page
//            c(orderBy);
            var state = this.state;
            state.movies.orderBy = orderBy;
            this.setState(state);
            this.getMovie();
        },
        render: function () {
            return (
                    <div id="fragment_index_center_content">
                        <div id="movie_type_div">

                            {/*电影标签列表*/}
                            <MovieTagGroupList movieTagGroup={this.state.movieTagGroup}/>
                        </div>
                        <div id="movie_list_div">
                            <div id="head">
                                <span id="sort_div">
                                    <ul id="sort_ways">
                                        <label>排序：</label>

                                        {
                                            this.state.orderByOptions.map((item,index)=>{
                                                var clsName = "";
                                                if(item.id == this.state.movies.orderBy){
                                                    clsName = "currt";
                                                }

                                                return <li key={item.id} className={clsName}>
                                                    <a href="javascript:void(0);" onClick={()=>{this.sortMovie(item.id)}}>{item.name}</a>
                                                </li>;
                                            })
                                        }


                                    </ul>
                                </span>
                                <span id="total_div">
                                    共
                                    <span id="totalNum">
                                        {this.state.movies.total}
                                    </span>
                                    个结果
                                </span>
                            </div>
                            <div id="line"></div>
                            <div id="movies_display_div">
                                {/*电影展示*/}
                                <MoviesDisplayer movies={this.state.movies.list}/>

                                {/*电影分页*/}
                                <Pager prePage={this.prePage} nextPage={this.nextPage} page={this.state.movies.page}/>
                            </div>
                        </div>
                    </div>
            );
        }

    });

    /**
     *节点挂载
     */
    ReactDOM.render(<IndexCenter tagGroupSource="/tagGroup/list" movieSource="/movie/list"/>,
        document.getElementById('react_dom_index_center'));

</script>


</body>
</html>