<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body id="fragment_head_body">
    <div id="fragment_head_content">
        <ul id="fragment_head_nav">
            <li id="fragment_head_nav_logo">
                <span id="logo_v">V</span><span id="logo_m">M</span>
            </li>
            <li id="fragment_head_nav_user">

                    <a id="fragment_head_nav_user_link" href="#">
                        <div id="fragment_head_nav_user_name_div">zhangdake</div>
                        <div id="fragment_head_nav_user_headImg_div">
                            <img id="" src="/image/frontend/head.png"/>
                        </div>
                    </a>
                    <div id="fragment_head_nav_user_logout">
                        <a href="#">注销</a>
                    </div>

            </li>
            <li id="fragment_head_nav_search">
                <input id="fragment_head_nav_search_text"/>
                <input id="fragment_head_nav_search_btn"type="button" value="搜索">
            </li>
        </ul>
    </div>
</body>
</html>