<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>vm电影网</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="/js/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/util.js"></script>

</head>
<body>

<!--msg_dialog-->
<div id="react_dom_index_msg_dialog"></div>
<!--head-->
<div id="react_dom_index_head"></div>
<!--index_center-->
<div id="react_dom_index_center"></div>
<!--tail-->
<div id="react_dom_index_tail"></div>
</body>
<script src="/frontend/dist/bundle.js"></script>
</html>