<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>vm电影网</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/css/frontend/index.css">


    <script src="/js/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/reactjs/react.js"></script>
    <script src="/js/reactjs/react-dom.js"></script>
    <script src="/js/reactjs/browser.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/react/15.4.2/react.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>-->


</head>
<body>

<!--head-->
<div th:replace="frontend/fragment_head :: #fragment_head_body"></div>
<!--index_center-->
<div th:replace="frontend/fragment_index_center :: #fragment_index_center_body"></div>
<!--tail-->
<div th:replace="frontend/fragment_tail :: #fragment_tail_body"></div>

</body>

</html>