@import "frontend-default.scss";

#actors_details_area {
  margin-left: 10%;
  width:90%;
  @include defaultHUl;
  overflow: hidden;
  & > ul {

    & > li {
      width: 25%;
      & > a {
        display: block;
        & > img {
          width:80%;
          margin-right: 20%;
        }
        & > div {
          width:80%;
          margin-right: 20%;
          background-color: red;
          color: black;
          text-align: center;
        }
      }
    }
  }

}