@import "frontend-default.scss";

#movie_info_content {
  @include defaultMiddle(70%);
  background-color: unquote($defaultLightGrayRgb);
  //background-color: red;
  & > * {

    border-radius: 3px;
    background-color: white;
    padding: 20px 20px;
    @include defaultWidth;
  }
  #basic_info {
    margin-top: 20px;
    @include defaultWidth;
    //background-color: red;
    & > #movie_info_displayer {

      display: flex;
      @include defaultWidth;
      & > div {
        float: left;
      }
      $imgWidth: 200px;
      #movie_img {
        width: $imgWidth;
        flex: none;
        //background-color: steelblue;
        & > img {
          width: $imgWidth;
          height: $imgWidth*1.5;
          //cursor: pointer;
        }
      }
      #movie_text {
        padding: 0px 10px;
        flex: 1;
        height: 100%;
        //background-color: black;
        @include defaultHUl;
        #text_ul {
          & > li {
            margin-bottom: 10px;
            width: 25%;

            //background-color: red;
            //&>a{
            //  text-decoration: none;
            //}
            //line-height: 15px;
            //height:15px;
            //background-color: red;
          }
          #name_li {
            width: 100%;
            &, & > a {
              color: unquote($defaultBlueRgb);
              font-size: 24px;
            }
          }
          #description_li {
            width: 100%;
            margin-top: 20px;
          }
          #tags_li {
            width: 100%;
            margin-top: 20px;

          }

        }
      }
    }

  }
  #movie_player {
    margin-top: 20px;
    .m {
      //margin-left: auto;
      //margin-right: auto;
      //width: 960px;
      //height: 400px;
      //margin-top: 100px
    }
  }

}
