@import "frontend-default.scss";

#tags_of_movie {
  @include defaultWidth;
  ul {
    li {

      margin: 0px 5px;
      padding: 2px 5px;
      cursor: pointer;
      display: inline;;
      background-color: unquote(white);
      border-radius: 99px;
      border: 1px solid unquote($defaultBlueRgb);
      & > a {
        color: unquote($defaultBlueRgb);
      }
      transition: all 500ms;
      &:hover {
        background-color: unquote($defaultBlueRgb);
        & > a {
          color: unquote(white);
        }
      }

    }
  }
}
