<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>vm电影网</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../plugin/cropper/docs/css/cropper.css"/>

    <script src="../plugin/jquery/jquery-3.2.1.min.js"></script>
    <script src="../plugin/cropper/dist/cropper.js"></script>
    <script src="../plugin/lazyload/jquery.lazyload.min.js"></script>
    <script src="../plugin/ckplayer/ckplayer/ckplayer.js"></script>
    <script src="../js/date_util.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/vm_config.js"></script>
    <script src="../js/vm_util.js"></script>
</head>
<body>
<!--index-->
<div id="react_dom_index"></div>
</body>
<script src="../dist/vendors.dll.js"></script>
<script src="../dist/bundle.js"></script>
</html>